
# Android 
/build/
android/app/build/
android/app/gradle/
android/app/gradlew
android/app/gradlew.bat
android/build/
android/.gradle/
.vscode/
android/app/bin/
android/.idea/
android/app/.settings/
android/local.properties


# iOS
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace


# react-native
node_modules/
npm-debug.log
yarn-error.log
*.lock
*.bin
package-lock.json


# eslint cache
.eslintcache

