
# Android 
android/.settings
android/app/src/debug
android/app/build/
android/app/gradle/
android/app/gradlew
android/app/gradlew.bat
android/build/
android/.gradle/
android/app/bin/
android/.idea/
android/app/.settings/
android/local.properties


# iOS
ios/Pods
ios/ProjectStructurePoc.xcworkspace/xcuserdata/
ios/.DS_Store
ios/*.pbxuser
ios/!default.pbxuser
ios/*.mode1v3
ios/!default.mode1v3
ios/*.mode2v3
ios/!default.mode2v3
ios/*.perspectivev3
ios/!default.perspectivev3
ios/*.xccheckout
ios/*.moved-aside
ios/DerivedData
ios/*.hmap
ios/*.ipa
ios/*.xcuserstate
ios/project.xcworkspace


# react-native
node_modules/
npm-debug.log
yarn-error.log
*.lock
*.bin
package-lock.json

# vs code
.vscode/

# eslint cache
.eslintcache

